.btn {
  text-decoration: none;
  padding: 17px 47px;
  background: #d75a00;
  border-radius: 5px;
  border: none;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
  &-link {
    display: block;
    height: 78px;
    font-weight: 500;
    font-size: 26px;
    transition: all 0.5s ease;
    &:hover {
      background: none;
      outline: 4px solid #ff6b00;
      color: #d75a00;
    }
  }
  &-medium {
    width: 308px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    font-weight: 500;
    font-size: 26px;
  }
}
